[package]
name = "destream_json"
version = "0.10.0"
authors = ["code@tinychain.net"]
edition = "2021"
license = "Apache-2.0"
description = "Library for decoding & encoding a JSON stream"
repository = "https://github.com/haydnv/destream_json"
readme = "README.md"

categories = ["asynchronous", "encoding", "parser-implementations", "parsing", "web-programming"]
keywords = ["json", "stream", "serialize", "deserialize"]

[features]
default = []
tokio-io = ["tokio/io-util"]
value = ["number-general/stream"]
all = ["tokio-io", "value"]

[dependencies]
async-trait = "0.1"
bytes = "1.0"
destream = "0.6"
futures = "0.3"
number-general = { version = "0.9", optional = true }
pin-project = "1.0"
tokio = { version = "1.24", features = ["io-util"], optional = true }

[dev-dependencies]
number-general = { version = "0.9", features=["stream"] }
tokio = { version = "1.24", features = ["fs", "macros"] }
tokio-util = { version = "0.7", features = ["io"] }
tokio-test = "0.4"
